.ui.container.segment
    // .ui.center.aligned.header View Profile
    with person
        img.ui.centered.large.image(src="{{c.url profile.image_id width=800 height=600 gravity='face' crop='fill'}}")
        .ui.stackable.grid
            .ten.wide.column
                h2.ui.header
                    |#{profile.first_name} #{profile.last_name}
                .ui.header
                    |Position: #{profile.position}
                .ui.header
                    |Company: #{profile.company}
                .ui.hidden.divider
                if tags
                    i.large.tags.icon
                    each tags
                        .ui.basic.label #{this}
            .six.wide.column
                .ui.horizontal.divider.header
                    i.red.configure.icon
                    | Admin
                +check_in_button
                +member_status
                +timecard
                        