with profile
    .ui.container.segment
        .ui.stackable.grid
            .eight.wide.column
                .image
                    img.ui.centered.image(src="{{c.url image_id height=600 width=500 background='white' crop='lpad'}}")
            .eight.wide.column
                h1.ui.header
                    |Hi! I'm #{first_name} #{last_name}
                if position
                    h3.ui.header
                        |I'm a #{position}
                if company
                    .ui.header
                        |I work at #{company}
                if link
                    .ui.header
                        |Check me out at
                        a.ui.basic.button(href=link target='_blank') 
                            i.external.icon
                            |#{link}

                if $.Session.get 'sending_message'
                    #end_contact.ui.basic.button 
                        |Cancel
                    div
                        .ui.form
                            .field
                                label New Message (include name and contact info)
                                textarea#new_message_text(rows='3')
                                #send_message.ui.basic.button Send Message
                else
                    #start_contact.ui.basic.button 
                        |Contact Me
                .ui.header
                    |Words that describe me:
                each tags
                    .ui.basic.large.label #{this}
                if isInRole 'admin'
                    h2.ui.horizontal.divider.header Actions
                    .edit.ui.primary.basic.button
                        i.pencil.icon
                        |Edit
                .ui.basic.segment
                    .large
                        |{{nl2br about}}