.ui.segment.text.container
    h3.ui.center.aligned.header Edit Profile 
    with user
        .ui.form
            .field
                if profile.image_id
                    p Old: #{profile.image_id}
                .field
                    label Current image_id: #{image_id}
                    input#input_image_id(type='text' placeholder='Change')
                if image_id
                    label Image
                    .ui.centered.image
                        img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                        a#remove_photo.ui.right.corner.link.label
                            i.remove.red.link.icon
                else
                    label Upload Image
                    input(type='file' name='upload_picture' accept='image/*')
            .field
                label Name (#{profile.name})
                .ui.input
                    input#name(type='text' value=name)
            .field
                label Email
                each emails
                    .ui.basic.label #{this}
            .field
                label Choose up to ten tags to describe your personal/professional life
                if profile.tags
                    .ui.segment
                        each profile.tags
                            .ui.basic.label #{this}
                each tags
                    .ui.small.compact.button.person_tag
                        i.minus.icon
                        |#{this}
                unless ten_tags
                    .ui.left.icon.input
                        i.add.icon
                        input#add_tag(type='text' placeholder='Press enter after each tag' maxlength='30')
            .field
                .ui.center.aligned.basic.segment
                    a#save_profile.ui.center.aligned.green.button(href='/')
                        |Save
