.ui.segment.text.container
    h3.ui.center.aligned.header Edit Profile 
    with user
        .ui.form
            .field
                // .field
                //     label Current image_id: #{image_id}
                //     input#input_image_id(type='text' placeholder='Change')
                if profile.image_id
                    label Image
                    .ui.centered.image
                        img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                        a#remove_photo.ui.right.corner.link.label
                            i.remove.red.link.icon
                else
                    label Upload Image
                    input(type='file' name='upload_picture' accept='image/*')
            .field
                label First Name 
                .ui.input
                    input#first_name(type='text' value=profile.first_name)
            .field
                label Last Name 
                .ui.input
                    input#last_name(type='text' value=profile.last_name)
            .field
                label Email
                each emails
                    .ui.basic.label #{address}
            .field
                label Company 
                .ui.input
                    input#company(type='text' value=profile.company)
            .field
                label Position 
                .ui.input
                    input#position(type='text' value=profile.position)
            .field
                label Website 
                .ui.input
                    input#website(type='text' value=profile.website)
            .field
                label What Working On / Interest in Social Change 
                .ui.input
                    textarea#pro_bio(type='textarea' rows='2')
                        |#{profile.pro_bio}
            .field
                label Needs 
                .ui.input
                    textarea#needs(type='textarea' rows='2')
                        |#{profile.needs}
            .field
                label Tags
                each tags
                    .ui.small.basic.circular.button.person_tag
                        i.minus.icon
                        |#{this}
                // unless ten_tags
                .ui.left.icon.input
                    i.add.icon
                    input#add_tag(type='text' placeholder='Press enter after each tag' maxlength='30')
            .ui.segment
                .ui.header 
                    i.hide.icon
                    |Private
                .field
                    label Phone 
                    .ui.input
                        input#phone(type='text' value=profile.phone)
            .ui.segment
                +atForm
            .field
                .ui.center.aligned.basic.segment
                    #save_profile.ui.center.aligned.huge.green.button
                        |Save
