.item
    // .image
    //     a(href="/view/#{_id}")
            // img.ui.large.image(src="{{c.url image_id height=400 width=400 }}")
            // img.ui.medium.image(src="{{c.url image_id }}")
    .content
        a.ui.header(href="/view/#{_id}") #{title}
        .meta
            each tags
                .ui.label(class=tag_class) #{this}
        .description !{body}
        .extra
            |by #{username}