with item
    .ui.container
        .image
            img.ui.centered.image(src="{{c.url image_id height=400 width=800 background='white' crop='lpad'}}")
        .ui.hidden.divider
        h1.ui.header #{title}
        .ui.divided.stackable.grid
            .ten.wide.column
                .meta
                    a(href=link target='_blank') #{link}
                .description
                    |!{description}
            .five.wide.column
                if link
                    a.ui.basic.fluid.button(href=link target='_blank') 
                        i.external.icon
                        |External Link
                h2.ui.horizontal.divider.header Tags
                each tags
                    .ui.basic.label #{this}
                if can_edit
                    h2.ui.horizontal.divider.header Actions
                    .edit.ui.primary.basic.button
                        i.pencil.icon
                        |Edit