
template(name='docs')
    .ui.container
        div
            #add.ui.basic.button
                i.plus.icon
                | Full Add
            .ui.icon.input
                i.lightning.icon
                input#quick_add(type='text' placeholder='Quick Add')
        +doc_cloud
        // if selected_tags
        each docs
            +view

        


template(name='view')
    .ui.segment.container
        .content
            a(href="/view/#{_id}")
                .image
                    img.ui.large.centered.image(src="{{c.url image_id }}")
                h1.ui.header #{title}
            .meta
                each tags
                    .ui.button.tag(class=tag_class) #{this}
            .ui.basic.segment
                |!{description}
            if can_edit
                .edit.ui.icon.circular.basic.button
                    i.pencil.icon.icon
            else
                | by #{author.username} #{when}
